.SingleShoutout a {
  color: red;
}

.SingleShoutout .from {
  display: flex;
  align-items: center;
}

.SingleShoutout .author-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}
